<p>
  <button type="button" class="btn btn-outline-primary btn-success" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Add Verb
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="!isCollapsed">
  <form  class="form-control" [formGroup]="formPayload" (ngSubmit)="addVerbFinal(formPayload.value);isCollapsed = !isCollapsed">
    <label for="addVerb"></label>
    <input class="addVerb" (keyup)="addVerb($event)" type="text" formControlName="addVerb" name="addVerb" required>
    <button type="submit">+</button>
  </form>
</div>