<p>
  <button type="button" class="btn btn-outline-primary btn-success" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Add Noun
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <form [formGroup]="formPayload" (ngSubmit)="addNounFinal(formPayload.value)">
    <label for="addNoun"></label>
    <input class="addNoun" (keyup)="addNoun($event)" type="text" formControlName="addNoun" required>
    <button type="submit" (click)="isCollapsed = !isCollapsed">+</button>
  </form>
</div>