<p>
  <button type="button" class="btn btn-outline-primary btn-success" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Add Noun
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="!isCollapsed">
  <form [formGroup]="formPayload" (ngSubmit)="addNounFinal(formPayload.value); isCollapsed = !isCollapsed">
    <label for="addNoun"></label>
    <input class="addNoun" (keyup)="addNoun($event)" type="text" formControlName="addNoun" name="addNoun" [formControl]="control" required>
    <button type="submit">+</button>
  </form>
</div>