.threeItemsRow{
  height:30vh;
}

.buttonsRow{
  height:20vh;
  /* display:flex; */
  /* justify-content:space-evenly; */
}
.generateNewRow{
height:5vh;
}

.buttonsColumn{
  display:flex;
  justify-content:space-around;
}

.itemText{
  font-size:35px;
  transition: 1s linear all;  
  opacity: 1;
}

.container{
  /* padding-top:30vh; */
}

.jumbotron{
  height:30vh;
  /* text-align:center; */
  display:flex;
  background-image:url('https://www.ancient-origins.net/sites/default/files/field/image/eye-of-Providence.jpg');
background-size:contain;
}

.jumboText{
  font-size:10em;
  font-family: 'Shadows Into Light', cursive;
  margin:auto;
  color:white;
}

.jumbotronLinks{
  position: absolute;
  top: 10px;
  right: 5px;
}

.nounDiv,.actionDiv,.descriptorDiv {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:30%;
}

.toggleDiv{
  display:flex;
}

#checkbox{
  margin-left:10px;
}

.col-xs-4{
  border:2px solid;
  padding:10px;
  height:27vh;
  display:flex;
  align-items:center;
}

/* Modals */

#dashboardTop{
  display:flex;
}

.modalHeader{
margin:auto;
}

.modalClose{
position:relative;
height:30px;
}

.modalLoop{
  display:flex;
  /* flex-direction:row; */
  
}

.nounLoop{
  flex-direction:row;
  flex-wrap:wrap;
}
/* TEXT */

@media (max-width:1200px){
  .jumboText{
    font-size:90px;
  }

  .jumbotron{
    padding-top:0px;
  }
}