
<app-header></app-header>
<div class="container">
  
  <div class="row">
    
    <div class="col-xs-4">
      <app-person></app-person>
      <!-- <input type='text' [(ngModel)]='tempPerson' [textContent]='tempPerson'> -->
    </div>
      <div class="col-xs-4">
        <app-action></app-action>
      </div>
      <div class="col-xs-4">
        <app-adverb></app-adverb>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="generateTheory()">Generate!</button> 
    </div>
  </div>
</div>
