.threeItemsRow{
  height:50vh;
}

.buttonsRow{
  height:20vh;
  /* display:flex; */
  /* justify-content:space-evenly; */
}
.generateNewRow{
height:30vh;
}

.buttonsColumn{
  display:flex;
  justify-content:space-around;
}

.itemText{
  font-size:35px;
  transition: 1s linear all;  
  opacity: 1;
}

.container{
  /* padding-top:30vh; */
}

.jumbotron{
  height:30vh;
  text-align:center;
}

.jumboText{
  font-size:10em;
  font-family: 'Shadows Into Light', cursive;
}

.nounDiv,.actionDiv,.descriptorDiv {
  display:flex;
  flex-direction:column;
  align-items:center;
}

/* TEXT */

@media (max-width:1200px){
  .jumboText{
    font-size:90px;
  }

  .jumbotron{
    padding-top:0px;
  }
}