<p>
  <button type="button" class="btn btn-outline-primary btn-success" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Add Descriptor
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="!isCollapsed">
  <form [formGroup]="formPayload" (ngSubmit)="addDescriptorFinal(formPayload.value);isCollapsed = !isCollapsed">
    <label for="addDescriptor"></label>
    <input class="addDescriptor" (keyup)="addDescriptor($event)" type="text" formControlName="addDescriptor" required>
    <button type="submit">+</button>
  </form>
</div>